body{
    background-color: teal;
}

.title{
    color: white;
}

.title-task{
    color: white;
}

label{
    color: white;
    font-style: italic;
}

li{
    color: white;
}

.alert-message{
    color:red;
}